/* COLORS */
:root {
    --black: #000000;
    --white: #FFFFFF;
    
    --red: #E84680;
    --dark-red: #CB3B6F;
    --light-red: #F28CB0;
    
    --yellow: #FADE4D;
    --dark-yellow: #DEC544;
    --light-yellow: #FADE4D;
    
    --purple: #697CE0;
    --dark-purple: #5565BC;
    --light-purple: #BFCAF3;
    
    --gray-01: #E1E4E8;
    --gray-02: #959DA5;
    --gray-03: #586069;
    --gray-04: #2F363D;
    --gray-05: #1B1F23;
}

/* TYPOGRAPHY */
@font-face {
    font-family: 'PTSansPro';
    src: url(../fonts/PTSansPro-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'PTSansPro';
    src: url(../fonts/PTSansPro-Demi.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}
h1 {
    font-family: "PTSansPro";
}
h2 {
    font-family: "OpenSans";
    font-weight: normal;
}
h3 {
    font-family: "OpenSans";
    font-weight: normal;
}
h4 {
    font-family: "OpenSans";
    font-weight: normal;
}
h5 {
    font-family: "OpenSans";
    font-weight: normal;
}
h6 {
    font-family: "OpenSans";
    font-weight: normal;
}
p {
    font-family: "OpenSans";
    font-weight: normal;
}
a {
    font-family: "OpenSans";
    font-weight: normal;
}

body {
    background-color: var(--gray-05);
    font-family: "PTSansPro";
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.uni-space {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 1rem;
    padding: 0;
}

.uni-nav {
    background-color: var(--gray-05);
    height: 105px;
}

.mo-nav {
    display: none;
}

#mo-left-sidebar {
    display: none;
    transition: .28s;
}

.nav-item {
    margin-left: 48px;
    font-size: 16px;
}

.bg-uni {
    background-color: var(--gray-05);
}

.text-handle, .text-link {
    color: var(--light-red);
    transition: all .28s;
}

.text-link:hover {
    color: #F7BAD0;
    text-decoration: none;
}

.text-desc {
    height: 76px;
    color: var(--gray-02);
    transition: .28s;
}

.primary {
    color: white;
    font-size: 48px;
}

.secondary {
    color: var(--gray-02);
    font-size: 32px;
    margin-bottom: 36px;
}

#filter-label {
    margin-bottom: 24px;
    color: white;
    font-size: 14px;
}

.filter-badge {
    font-family: "OpenSans";
    font-weight: normal;
    background-color: var(--gray-04);
    color: var(--light-red);
}

.btn {
    padding: 0;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.sidebar {
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}

.filter {
    margin: 10px;
    margin-left: 0;
    height: 40px;
    line-height: 40px;
    width: 40px;
    background-color: var(--gray-05);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.f-act {
    background-color: var(--light-red);
}

.icon {
    height: 20px;
    widows: 20px;
}

.card {
    margin: 10px 20px 80px;
}

.pic {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: cover;
    transition: .28s;
}

.card:hover .pic {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.card:hover .text-desc {
    color: var(--gray-01);
}

.pic-w {
    width: 273px;
}

.pic-size {
    height: 277px;
    width: 273px;
}

.role-circle {
    position: absolute;
    top: 12px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    background-color: var(--gray-05);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    z-index: 5;
}

.role-connect {
    position: absolute;
    top: 12px;
    height: 40px;
    width: 30px;
    background-color: var(--gray-05);
    z-index: 0;
}

.role-icon {
    height: 20px;
    width: 20px;
}

.mo-intro {
    display: none;
}

.p-icon {
    height: 15px;
    widows: 15px;
}

.p-link {
    font-size: 15px;
}

.p-link:hover {
    color: var(--light-red);
}

.round {
    border-radius: 15px;
}

.round-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social-icon {
    height: 16px;
    width: 16px;
    margin-right: 6px;
    transition: .28s;
}

.social-icon:hover {
    fill: var(--light-red);
}

.social-stroke {
    stroke: var(--gray-02);
}

.social-stroke:hover {
    stroke: var(--light-red);
    fill: var(--gray-05);
    transition: .28s;
}

@media (max-width: 600px) {
    .navbar, .sidebar, #filter-label, .card-body {
        display: none;
    }

    .mo-nav {
        display: block;
        margin: 0 16px;
        padding-top: 24px;
        height: 60px;
    }

    #mo-left-sidebar {
        display: block;
        position: absolute;
        /* margin-left: 16px; */
        margin-left: -60vw;
        width: 50vw;
        z-index: 9;
    }

    .mo-filter-label {
        font-size: 20px;
        color: white;
    }

    .filter {
        height: 36px;
        line-height: 36px;
        width: 36px;
    }

    .uni-space {
        margin: 10px 16px;
    }

    .primary {
        font-size: 24px;
    }
    
    .secondary {
        font-size: 20px;
        margin-bottom: 24px;
    }

    #creatives {
        margin: 0 auto;
        transition: .28s;
    }

    .pic {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    .pic-w {
        width: 42vw;
    }

    .pic-size {
        width: 42vw;
        height: 42vw;
    }

    .card {
        margin: 2vw 2vw 2vw;
    }

    .round-top {
        border-radius: 5px;
    }

    .role-circle {
        height: 20px;
        line-height: 20px;
        width: 20px;
    }
    
    .role-connect {
        height: 20px;
        width: 15px;
    }

    .role-icon {
        height: 10px;
        width: 10px;
    }

    .mo-intro {
        margin-left: 8px;
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .mo-name {
        font-size: 20px;
        color: white;
    }

    .mo-tag {
        margin-bottom: 0;
        font-size: 12px;
        color: var(--light-red)
    }
}

/* All fade in animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}